global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: gateway
    metrics_path: /metrics
    static_configs:
      - targets: ["gateway:8080"]

  - job_name: telegraf
    metrics_path: /metrics
    static_configs:
      - targets: ["telegraf:9273"]

  - job_name: blackbox-services
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - http://gateway:8080/healthz
          - http://influx-a:8086/health
          - http://influx-b:8086/health
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
